/*Schriftformatieunrg*/
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
}

div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*Struktur*/
.wrapper {

}

.inhalt {
    display: table;
    margin: 0 auto;
    /*min-width:		600px; optional */
}

.header {
    display: table;
    margin: 0 auto;
    /*min-width:		600px; optional */
}

body {
    background-color: #FACC2E;
}

/*Tabellenformatirung Zeugnis*/
.tabelle {
    border-spacing: 0;
}

.tabelle tr:nth-child(even) {
    background-color: #FFC400;
}

.tabelle tr:nth-child(odd) {
    background-color: #FACC2E;
}

.last {
    font-weight: 600;
}

/*Tabellenformatirung Schulstempel*/
.schulstempel {
    border-spacing: 10px;
    color: white;
}